html, body{width: 100%;}
.noidungcontent{
    width: 80%;
    height: 280px;
    margin-top: 290px;
    margin-bottom: -250px;
    clear: both;
    border-bottom: 4px solid gray;
}
.left{
    width: 28%;
    float: left;
    margin-right: 25px;
    overflow: hidden;
}

.hinhso2{
    width: 100%;
    transition: 2s;
}
.hinhso2:hover{
    transform: scale(1.2);
    transition: 2s;
}

.right{
    width: 20%;
    float: right;
    margin-right: -50px;
    
}
.center a{
    width: 30%;
    text-decoration: none;
    color: cornflowerblue;
    font-size: 45px;
    font-weight: bold;
    font-style: oblique;
    margin-left: 20px;
    
    
}
.center a:hover{
    color: crimson;
}
.nut {
    width: 150px;
    background-color: rgb(0, 255, 76);
    color: deeppink;
    padding: 10px 20px;
}

h3{
    color: darkgoldenrod;
    font-size: 18px;
    font-weight: bold;
}
p3{
    color: darkmagenta;
    font-size: 16px;
    margin-right: 25px;
}
.button{
    color: lawngreen;
}

.topTT{
    width: 100%;
    height: 30px;
    background-color: hotpink;
    margin: auto;
}
.hinhmail{
    margin-left: 15%;
}
.hinhphone{
    margin-left: 15%;
}
.vitri{
    margin-left: 45%;
}
.logout{
    margin-left: 5%;
}